//COLORS
$color1: #0F2354;
$color2: #E0E0E0;
$color3: #07122B;
$color4: #D12525;
$color5: #FFFFFF;

//FONTS
$font1: 'Lato-Thin';
$font2: 'Lato-Regular';
$font3: 'PoiretOne-Regular';

//SCREEN SIZE
$size1: '560px';
